*
{
   margin: 0;padding: 0;
   box-sizing: border-box;
}
header
{
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 70% ;
    /* justify-content: space-around; */
    align-items: center;

    background-color: rgb(73, 113, 132);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.text
{
    color: rgb(10, 237, 94);
    margin-left: 30px;
}



.searchBar
{
  display: flex;
  justify-content: center;
  align-items: center;
  

}
input[type=text]
{
  width: 70%;
  padding: 5px;
  margin-right: 1px;
  text-align:center;
  font-weight: bold;
  border-top: none;
  border-bottom: 3px solid black;
  border-left: none;
  border-right: none;
  background-color: rgb(222, 237, 229);
outline: none;
border-radius: 20px;
}

input[type=text]:hover
{
  background-color: white;
}

button
{
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(232, 219, 147);
  color: white;
  outline: none;


}
button:hover
{
  background-color: #fff;
  color: gold;
  /* text-transform: uppercase; */
}
/* responsive design; */

/* @media only screen and (max-width: 770px) */

@media(max-width:768px)
{
   
    .text h1
    {
        /* font-size: 15px; */
        flex-wrap: wrap;
        margin: auto;
        margin-left: 3px;
    }
    
}